@media screen and (max-width: 576px) {
  .banner-con {
    flex-direction: column;
    text-align: center;
  }
  .title-discription {
    /* margin: 30px 20px; */
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .banner-title {
    font-size: 3rem;
    max-width: 400px;
    /* text-align: center; */
  }
  .banner-discription {
    max-width: 360px;
    text-align: justify;
  }
  .banner_but {
    margin-bottom: 80px;
  }
  .banner-img img {
    max-width: 100%;
    padding: 0 100px;
    justify-items: center;
    justify-items: center;
  }
  .fetured-img-con {
    flex-direction: column !important;
    margin: 0 20px;
  }

  .icon-section{
    padding-top: 120px;
  }
  .icons-con{
    flex-direction: column;
  }
  .icons-con{
    max-height:100% ;
  }

  .sale-con{
    flex-direction: column;
    justify-items: center;
    padding: 20px;
    padding-top: 100px;
    gap: 50px;
  }

  .insta-img-con{
    grid-template-columns: repeat(1, 1fr);
    margin: 48px 40px;
  }

}

@media screen and (min-width: 576.1px) and (max-width: 992px) {
  .title-discription {
    margin: 50px;
  }

  .banner-con {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  .banner_but {
    margin-bottom: 80px;
  }
  .banner-img img {
    max-width: 100%;
    margin-right: 0;
    justify-items: center;
    justify-content: center;
    padding: 0 100px;
  }

  .fetured-img-con {
    flex-direction: column !important;
  }

  .sale-con{
    flex-direction: column;
    justify-items: center;
    padding: 20px;
    padding-top: 100px;
    gap: 50px;
  }

  .insta-img-con{
    grid-template-columns: repeat(2, 1fr);
    margin: 48px 80px;
  }
}

.hide {
  display: none;
}
